<div id="dewarp-tab" style="display: none">
  <div id="dewarp-buttons">
    <button id="detect-tables-btn">Detect tables</button>
    <button id="dewarp-btn" style="display: none">Apply dewarp</button>
    <p>
      Try and find and crop the data table in the scan. Hit detect
      tables to get a list of outlines, and use '[' and ']' to swap
      between them. If you find a good one, hit 'Apply dewarp'
    </p>
  </div>
  <div id="dewarp-container">
    <img id="dewarp-image-display"/>
    <canvas id="dewarp-overlay-canvas"></canvas>
  </div>
</div>
