<div id="dewarp-tab" style="display: none">
  <div>
    <p>
      Capture a tabela de dados no documento clicando em pontos no
      documento. Comece clicando no canto superior esquerdo e clique
      em pontos ao longo da linha superior (os cantos são mais fáceis), depois clique
      nos pontos correspondentes ao longo da parte inferior do documento, indo
      no sentido horário até chegar ao canto inferior esquerdo. 
    </p>
    <p>
      Pode arrastar e soltar pontos clicando ao redor deles. Quando tiver
      um número igual de pontos na linha superior e na linha inferior,
      pode clicar em "Aplicar Correcção" para que o programa tente deformar
      a tabela numa imagem quadrada para facilitar a transcrição.
    </p>
    <p>
      Se o documento não ficar muito quadrado, pode voltar ao
      separador Corrigir Distorção e tentar novamente até ficar bem.
    </p>
  </div>
  <div id="dewarp-container">
    <img id="dewarp-image-display"/>
    <canvas id="dewarp-overlay-canvas"></canvas>
  </div>
  <div id="dewarp-buttons">
    <button id="dewarp-btn" class="btn btn-primary">Aplicar correcção</button>
    <button id="reset-btn" class="btn">Redefinir pontos</button>
  </div>
</div>
