<div id="document-tab" style="display: none">
  <div id="document-container">
    <img id="document-image-display"/>
    <canvas id="document-overlay-canvas"></canvas>
  </div>
  <div id="document-inputs">
    <p>
      Fill out some document metadata. Select the document type by
      clicking on the header below.
    </p>
    <div>
      <label>
        Document type:
        <select id="document-type" onchange="updateHeader()">
          <option value=""></option>
          <option value="anopheles_funestus">Anopheles Funestus</option>
          <option value="anopheles_funestus_s.1_compact">Anopheles Funestus s.1 (Compact)</option>
          <option value="anopheles_gambia_s.1">Anopheles Gambiae s.1</option>
          <option value="anopheles_gambia_s.1_compact">Anopheles Gambiae s.1 (Compact)</option>
          <option value="anopheles_gambia_s.1_widecol">Anopheles Gambiae s.1 (Wide columns)</option>
          <option value="other_anopheles">Outros Anopheles</option>
          <option value="other_anopheles_compact">Outros Anopheles (Compact)</option>
          <option value="other_vectors">Outros Vectores</option>
          <option value="other_vectors_compact">Outros Vectores (Compact)</option>
          <option value="other_vectors_disease">Outros vectores de doenças</option>
          <option value="light_traps_indoor_outdoor">Armadilhas de luz (Dentro e Fora)</option>
        </select>
      </label>
      {% include 'identify-document.html' %}
    </div>
    <div>
      <label>
        Province: 
        <select id="document-province" placeholder="Province"/>
          <option value="">Distrito/Municipo</option>
          {% for province in provinces %}
          <option value="{{ province }}">{{ province }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div>
      <label>
        District 1: 
        <select id="document-locality-1" placeholder="Localidade" onchange="updateProvince()"/>
          <option value="">Distrito/Municipo</option>
          {% for item in districts %}
          <option value="{{ item.district }}" data-province="{{item.province}}">{{ item.district }}</option>
          {% endfor %}
        </select>
      </label>
      <label>
        Neighborhood 1: 
        <input type="text" id="document-neighborhood-1" placeholder="Bairro"/>
      </label>
    </div>
    <div>
      <label>
        District 2: 
        <select id="document-locality-2" placeholder="Localidade"/>
          <option value="" disabled selected>Distrito/Municipo</option>
          {% for item in districts %}
          <option value="{{ item.district }}" data-province="{{item.province}}">{{ item.district }}</option>
          {% endfor %}
        </select>
      </label>
      <label>
        Neighborhood 2: 
        <input type="text" id="document-neighborhood-2" placeholder="Bairro 2"/>
      </label>
    </div>
    <div>
      <label>
        Collection date: 
        <input type="date" id="document-collection-date"
        placeholder="Data de colheita" placeholder="dd-mm-yyyy"/>
      </label>
    </div>
    <div>
      <label>
        Year sprayed: 
        <input type="number" id="document-year-sprayed" placeholder="Mês de pulverização" min="2000" max="2024" value="2014"/>
      </label>
    </div>
  </div>
  <button id="document-submit-btn">Submit document info</button>
</div>
