<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <title>Cortador e Segmentador de Imagens</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/document.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dewarp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/transcription.js') }}"></script>
    <script src="{{ url_for('static', filename='js/identify-document.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
  </head>
  <body>
    <div class="flex-container">
      <div id="file-sidebar" class="sidebar">
        <div>
          <a href="download_csv" download="transcription.csv">Descarregar CSV de Transcrição</a>
        </div>
        <div>
          <a href="download_documents_csv" download="documents.csv">Descarregar CSV de Documentos</a>
        </div>
        <h3 id="file-list-header">Ficheiros Fonte</h3>
        <table>
          <thead>
            <tr>
              <th class="file-id">ID do Ficheiro</th>
              <th class="status">Doc</th>
              <th class="segmentation">Seg.</th>
              <th class="transcription">Dados</th>
            </tr>
          </thead>
          <tbody id="file-list"></tbody>
        </table>
      </div>
      <div class="content">
        <h2 id="current-filename"></h2>
        {% include 'tabnav.html' %}
        {% include 'document-tab.html' %}
        {% include 'dewarp-tab.html' %}
        {% include 'transcription-tab.html' %}
      </div>
    </div>
  </body>
</html>
