<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Cropper and Segmenter</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='js/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/document.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dewarp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/transcription.js') }}"></script>
    <script src="{{ url_for('static', filename='js/identify-document.js') }}"></script>
</head>
<body>

  <div class="flex-container">
    <div id="file-sidebar" class="sidebar">
        <div>
          <a href="download_csv" download="transcription.csv">Download Transcription CSV</a>
        </div>
        <div>
          <a href="download_documents_csv" download="documents.csv">Download Documents CSV</a>
        </div>
        <h3 id="file-list-header">Source Files</h3>
        <ul id="file-list"></ul>
    </div>
    <div class="content">
      <h2 id="current-filename"></h2>
      {% include 'tabnav.html' %}
      {% include 'document-tab.html' %}
      {% include 'dewarp-tab.html' %}
      {% include 'transcription-tab.html' %}
    </div>
  </div>
</body>
</html>
